# Here is a Text Cell

### I am testing out Jupyter Notebook

## Text Size

#### "#" is used to indicate the text size
#### The more "#", the smaller the text size

## Bolding, Italicized, etc.

#### "*" is used to indicate if something is bold, italicized, or both
#### *here is an example*

## More Text Things

 You can create lists too! Use "/*" WITH A SPACE after it and without the /

*  List 1
    *  List 2
    
 We can also get fancy and 'highlight' code using this guy /'

 Lastly, we can create quote block to highlight text using /<
 >Here is my fancy quote box
 
 
 To avoid obnoxious crazy lines, you can create new lines by adding two spaces after one. 
 This is still on the same line even though it is technically below  
 but this is a new line because I put two space after the line above then pressed enter

## To create new cells 

You can use the "+" arrow at the top and indicate if you want code or markdown.  

You can also press "esc" then press "a" for above or "b" for below  
After that, you can press "m" is you want markdown as code is original box

# Python Practice

In [1]:
#Lists can be stored in lists and can hold different types

x=[] #or you can do x=list() but MUST include list infront
x.append(20)
x.append([13, 5])
y=2012
x.append(y)
x

[20, [13, 5], 2012]

In [2]:
x.append("Too many Smith's for emails") #putting a different type in list
x

[20, [13, 5], 2012, "Too many Smith's for emails"]

In [3]:
#note that indexing starts at 0
x[0]

20

In [4]:
#Change values at different indexing

print(x)
print("Trying this out {}".format(x[0])) #must include {} to show what is at the formatx[] location
x[1] = "replacing number with THIS"
print(x)

[20, [13, 5], 2012, "Too many Smith's for emails"]
Trying this out 20
[20, 'replacing number with THIS', 2012, "Too many Smith's for emails"]

# PLEASE NOTE: DIFFERENCE BETWEEN ***TUPLE*** AND ***LIST*** CODE  

The tuple code has **( )** while the list code has **[ ]**  
They can also be written as the following:  
x = tuple( )  
x = list[ ]

In [5]:
y=(9,4)
y

(9, 4)

In [6]:
#Cannot add to the tuple created
y.append(3)

AttributeError: 'tuple' object has no attribute 'append'

## Use of Dictionary

These are created as keys. Make sure they are unique because if they are not then one key could overwrite the value of what it was originally

In [ ]:
#creating a dictionary
d = dict() 
#or
d = {}    #looks like you can't use dict[]? NOTICE NO dict IN THIS ONE


#create assignments
d = {1:"a",2:"b",3:"c",4:"d"}
d

You can make dictionaires within dictionaries

In [ ]:
d={"English":{1:"one", 2:"two", 3:"three"}, "Spanish":{1:"uno", 2:"dos", 3:"tres"}}
d

In [ ]:
d["English"]

In [ ]:
d["English"][3]

# Practice *Loops*

A few things to note here in the **IF LOOPS**  

* use == to indicate if something is equal or != if not equal
* use the colon: after each if/else statement
* Python is indent sensitive so you do not need to use parantheses to enclose the statements, only indents

In [ ]:
x = 7
if x == 0:
    print("x is 0")
else:
    print("x is not 0")

In [ ]:
#Can also use boolean statements too
statement = True
if statement:
    print("It is TRUE")
else:
    print("It is FALSE")

In [ ]:
#Cane also negate statements with IF NOT

x=7
if not x ==0:
    print("x is not 0")
else:
    print("X is 0")
    

statement = False
if not statement:
    print("Statement is False")
else:
    print("Statement is true")

We will now look at **FOR LOOPS**  

Things to note:  
* They can loop over anything, including lists
* They can also loop over dictionaries
* They are also indent sensitive

In [ ]:
count = 0
child = ["Jace", "JJ", "Avery", "Harper", "Kendall", "Flynn", "Lincoln"]
for name in child:     #for each iteration of the loop, "name" becomes a name in the list
    print(name)
    count = count +1
print("Count = ",count)

In [ ]:
#Creating a range - don't forget you want to do one past the value you want when making a range
for i in range(6):
    print(i)

In [ ]:
child

In [ ]:
d

In [ ]:
for language in d:
        print(language)

In [ ]:
for language in d:
    print("{} is the language.".format(language)) ##the brackets are the placeholder for where the variable language goes

Loop within a loop - NESTED `STRUGGLED WITH THIS`

In [ ]:
for language in d:
    print("{} is the Language".format(language))
    for key in d[language]:
        translation = d[language][key]
        print("{} is {}".format(key,translation))

In [ ]:
#STRUGGLED WITH THIS!!!!
for language in d:
    print("{} is the Language".format(language))
    for key in d[language]:
        translation = d[language][key]
        print("{} is {}".format(key,translation))

### While Loops

These are used less often.

In [ ]:
j = 1
while j < 10:
    print(j)
    j +=1 #can also be written as j = j + 1

# Most Common Package: Numpy

Allows us to do more things with lists  
Usually abreviated as `np`

In [ ]:
#to import
import numpy as np

To make a numpy array, we use np and specify the array function

In [ ]:
array = [0,1,2,3,4,5]
np_array = np.array(array) #turning our array into a numpy one. Then assigning it a variable
np_array

Now you can see the word "array" around the list which means we can do many more things with it

**Example 1**: You cannot just "+4" to every element in a list but you can do so in an array!

>Not allowed: x_list +4  
>ALLOWED: x_array + 4

In [ ]:
np_array + 4 #note: Do not print np_array after as it will show just what that is [0,1,2,3,4]

In [ ]:
np_array ** 2

We can also add, multiply, divide arrays

In [ ]:
y_array = np.array([2,4,6,8,10,12])

y_array * np_array

## IMPORTANT THOUGHT:

This is what makes Python fast. If you can vectorize you calculations rather than put them in "for loops" (requireing mulitple iterations), then that will make it run much faster

You can cerate arrays of zeros

In [ ]:
np.zeros(12)

Or you can list numbers  
>Example: np.arange(5,89,2) - creates a list from 5-87 (don't forget the last value is not included!) with step size of 2

In [ ]:
np.arange(3,60, 3)

We can also make *MATRICES* - lists of lists or really, arrays of arrays - **NOTE THE DOUBLE SQUARES SINCE IT IS ARRAYS WITHIN AN ARRAY**

In [ ]:
z = np.array([[3,6,9], [2,4,6], [1,7,14]])
z

We can also transpose an array - AKA flipping it across it's diagonal --> see notes on this on paper for what this looks like

In [ ]:
z.T

In [ ]:
#You can also index the row and column
z[:,1]    #this means all rows and the first index (remember indexing starts at 0 s this technically gets us the second row)

In [ ]:
z[0,:]    #first row, all columns

# ALL DONE - WAY TO GO! :)